@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url("SourceCodePro-VariableFont_wght.woff2");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
  src: url("SourceCodePro-Italic-VariableFont_wght.woff2");
}
